<footer class="site-footer">
  <div class="f-info">
    <div class="f-info-brand">
      &copy; <%= new Date().getFullYear() %> DRIVVA
    </div>
    <div class="f-info-links">
      <a class="footer-link" href="/privacy">Privacy Terms</a>
    </div>
  </div>
</footer>
