<nav class="navbar navbar-expand-md airbnb-navbar sticky-top">
  <div class="header-inner">
    <div class="header-left">
      <a class="navbar-brand" href="/listings">
        <span class="brand-icon"><i class="fa-solid fa-rocket"></i></span>
        <span class="brand-text">DRIVVA</span>
      </a>
    </div>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="header-center mx-auto">
        <div class="navbar-nav header-nav-center">
          <a class="nav-link" href="/listings">Home</a>
          <a class="nav-link" href="/listings/new">Add new listing</a>
        </div>
      </div>

      <div class="header-right navbar-nav nav-auth">
        <% if (!currUser) { %>
        <a class="nav-link btn-login" href="/login">Sign in</a>
        <a class="nav-link btn-signup" href="/SignUp">Sign up</a>
        <% } else { %>
        <a class="nav-link btn-logout" href="/logOut">Log Out</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
